if resume.skills && resume.skills.length
  .container
    +title('Skills', 'fa-light fa-screwdriver-wrench')
    .skills-container
      each skills, fluencyLevel in groupLangByFluency(resume.skills)
        .skills(style=`order: ${getFluencyRanking(fluencyLevel)}`)
          h4.title #{fluencyLevel}
          .progress-bar
            .progress-bar-extent.animate__animated.animate__fadeInLeft(style=`width: ${(getFluencyRanking(fluencyLevel) + 1) * 20}%; background-color: ${getFluencyColor(fluencyLevel)}`)
          div(style="margin-top: 0px;")
            each skill in skills
              h5 #{skill.name}
              if skill.keywords && skill.keywords.length
                div
                  each keyword in staggerSort(skill.keywords)
                    .w3-tag.w3-tiny(style=`order ${keyword.length}`) #{keyword}
